@import url(m_style.css);
html,
body,
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container header {
  width: 100%;
  height: 0.88rem;
  background: #f93d50;
}
.container header i {
  padding-left: 0.4rem;
  line-height: 0.88rem;
}
.container header i img {
  width: 0.36rem;
  height: 0.36rem;
  background: none;
}
.container header p {
  display: inline-block;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  text-indent: 1.8rem;
  line-height: 0.88rem;
  font-size: 0.34rem;
  color: #fff;
}
.container section {
  -webkit-box-flex: 1;
  overflow: auto;
  background: #f3f3f3;
}
.container section .d {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 1.2rem;
  background: #ffffff;
  float: left;
  border-bottom: 1px solid #e1e1e1;
}
.container section .d .ii {
  -webkit-box-flex: 1;
  width: 2.72rem;
  height: 0.4rem;
  margin-left: 0.4rem;
  padding-top: 0.55rem;
  font-size: 0.25rem;
  color: #333333;
}
.container section .d .ee {
  width: 0.96rem;
  height: 0.88rem;
  background: none;
  margin-right: 0.4rem;
  margin-top: 0.15rem;
}
.container section .d .ee img {
  width: 0.96rem;
  height: 0.88rem;
  background: none;
}
.container section .d .rr {
  width: 0.96rem;
  height: 0.88rem;
  background: none;
  margin-right: 0.2rem;
  margin-top: 0.5rem;
  font-size: 0.25rem;
  color: #999999;
}
.container section .de {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 0.86rem;
  background: #ffffff;
  float: left;
  border-bottom: 1px solid #e1e1e1;
}
.container section .de .ii {
  -webkit-box-flex: 1;
  width: 2.72rem;
  height: 0.4rem;
  margin-left: 0.4rem;
  padding-top: 0.27rem;
  font-size: 0.25rem;
  color: #333333;
}
.container section .de .rr {
  width: 0.96rem;
  height: 0.88rem;
  background: none;
  margin-right: 0.2rem;
  margin-top: 0.27rem;
  font-size: 0.25rem;
  color: #999999;
}
.zhezhao {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.zhezhao .a {
  width: 4.51rem;
  height: 2.38rem;
  background: #ffffff;
  overflow: hidden;
  border-radius: 0.15rem;
  position: absolute;
  left: 50%;
  margin-left: -2.25rem;
  top: 50%;
  margin-top: -1.19rem;
}
.zhezhao .a .aa {
  width: 3.57rem;
  height: 0.8rem;
  background: none;
  margin-left: 0.5rem;
  border-bottom: 1px solid #eeeeee;
}
.zhezhao .a .aa p {
  line-height: 0.8rem;
  color: #262626;
  font-size: 0.29rem;
  text-indent: 0.06rem;
}
.zhezhao .a .ab {
  width: 3.57rem;
  height: 0.8rem;
  background: none;
  margin-left: 0.5rem;
  border-bottom: 1px solid #eeeeee;
}
.zhezhao .a .ab p {
  line-height: 0.8rem;
  color: #262626;
  font-size: 0.29rem;
  text-indent: 0.06rem;
}
.zhezhao .a .ac {
  width: 3.57rem;
  height: 0.8rem;
  background: none;
  margin-left: 0.5rem;
}
.zhezhao .a .ac p {
  line-height: 0.8rem;
  color: #262626;
  font-size: 0.29rem;
  text-indent: 0.06rem;
}
